{
	"extends": ["airbnb", "prettier", "prettier/react"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		// custom overwrites:
		"global-require": 0,
		"import/no-cycle": 0,
		"no-shadow": "off",
		"no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["draft"] }], // immer whitelisting
		"react/forbid-prop-types": 0,
		"react/no-danger": 0
	}
}
